{
    "name": "Bigview", // 标示 配置文件
    "defaultGrammer": "javascript", // 默认高亮语法
    "options": { // 通用编译器配置
        "markdown": { // 对于 markdown 编译器进行统一配置
            "menuLevel": 2 //选取第几级 head 作为目录，默认 -1 没有目录
        },
        "foldcode": true, // 是否折叠示例code
        "foldparam": true, // 是否折叠param
        "foldsidenav": true, // 是否折叠侧边目录
        "insertCSS": ["./style/a.css","./style/b.css"],  // 配置css路径，可覆盖默认样式； 相对路径需要配置resources路径
        "insertJS": ["./scripts/a.js"],  // 配置js路径
        "hasPageName": true //是否添加页面名称，默认关闭；(文件名不包含中文和特殊字符)
    },
    "resources": { //将配置文件夹拷贝至生成文档的source文件夹下  
            "images": "./images/",   
            "style": "./style/",  // 指定insertCss后，配置css的目录
    },
    "common": { // 通用默认配置，包括主页配置等
        "title": "Bigview", //page title
        "footer": "&copy; 2016 <a href=\"http://ued.qunar.com/ymfe/\">YMFE</a> Team. Build by <a href=\"http://ued.qunar.com/ydoc/\">ydoc</a>.", // 通用尾
        "home": "YMFE", // logo
        "homeUrl": "http://ued.qunar.com/ymfe/" // logourl
    },
    "pages": [{
        "name": "index", // Page Name 会根据他生成 html 文件，例  index.html
        "title": "主页", // Page Title
        "banner": { // Banner 配置
            "title": "Bigview",
            "description": "A fast, simple & powerful bigpipe framework"
        },
        "content": "./README.md",  // 内容
        "compile": "markdown", // 解析器，如果内容有固定的扩展名，此项可忽略
        "options": { // 此 Page 用的编译器的配置
            "menuLevel": 2,
            "foldsidenav": true // 是否折叠侧边目录(优先级高于通用编译器配置)
        }
    }, {
        "name": "GettingStart", // Page Name 会根据他生成 html 文件，例  index.html
        "title": "开始", // Page Title
        "banner": { // Banner 配置
            "title": "Bigview",
            "description": "A fast, simple & powerful bigpipe framework"
        },
        "content": "./gettingstart.md",  // 内容
        "compile": "markdown", // 解析器，如果内容有固定的扩展名，此项可忽略
        "options": { // 此 Page 用的编译器的配置
            "menuLevel": 2,
            "foldsidenav": true // 是否折叠侧边目录(优先级高于通用编译器配置)
        }
    }, {
        "name": "Docs",
        "title": "文档",
        "content": { // 单页多模块配置
            "sidebar": true, // 是否显示侧边目录
            "blocks": [{
                "name": "简介", // 标题
                "content": "docs/intro.md" // 内容
            }, {
                "name": "概念", // 只有标题，做目录和分割用
				"content": "docs/concept.md" // 概念
            } ,
			{
                "name": "核心", // 标题
                "content": "docs/core.md" // 内容
            }
			, {
                "name": "概念", // 只有标题，做目录和分割用
				"content": "docs/concept.md" // 概念
            }, {
                "name": "说明",
                "sub": true, // 标题在目录里已子目录形式显示
                "content": "docs/bigpipe.md"
            }, {
                "name": "高级",
                "content": "docs/advance.md"
            }]
        }
    },{
        "name": "Api",
        "title": "Api",
        "intro": "a.md", // 介绍 introduction
        "content": { // 单页多模块配置
            "sidebar": true, // 是否显示侧边目录
            "blocks": [{
                "name": "Node.js" // 只有标题，做目录和分割用
            }, {
                "name": "Bigview", // 标题
                "content": "api/bigview.md" // 内容
            }, {
                "name": "Biglet" // 只有标题，做目录和分割用
            }, {
                "name": "说明",
                "sub": true, // 标题在目录里已子目录形式显示
                "content": "api/biglet.md"
            }, {
                "name": "前端Bigpipe" // 只有标题，做目录和分割用
            }, {
                "name": "说明",
                "sub": true, // 标题在目录里已子目录形式显示
                "content": "api/bigpipe.md"
            }]
        }
    },
	{
        "name": "News", // Page Name 会根据他生成 html 文件，例  index.html
        "title": "新闻", // Page Title
        "banner": { // Banner 配置
            "title": "Bigview",
            "description": "A fast, simple & powerful bigpipe framework"
        },
        "content": "./news.md",  // 内容
        "compile": "markdown", // 解析器，如果内容有固定的扩展名，此项可忽略
        "options": { // 此 Page 用的编译器的配置
            "menuLevel": 2,
            "foldsidenav": true // 是否折叠侧边目录(优先级高于通用编译器配置)
        }
    }
		
	]
}